<?xml version="1.0" encoding="utf-8" ?> 
<configuration> 
<system.webServer>
<rewrite>
    <rules>
        <rule name="SpecificRewrite" stopProcessing="true">
            <match url="^([A-Za-z0-9-/]+)/?$" />
            <action type="Rewrite" url="/index.php?url={R:1}" />
        </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>